
:root {
    --bg-color: rgba(8, 52, 1, 0.7); 
}

#video-background {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	object-fit: cover;
}

body::after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--bg-color);
    z-index: -1; 
    pointer-events: none; 
}

body {
    background: rgba(8, 52, 1, 0.7);
    font-family: Josefin Sans, Helvetica, Helvetica Neue, Arial, sans-serif;
    transition: background 0.5s ease;
}

@keyframes pulse {
  0% {
    transform: translate(-50%, -50%) scale(1);
  }
  50% {
    transform: translate(-50%, -50%) scale(1.05);
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
  }
}

.brainContainer{
    width:50vw;
    height:50vw;
    max-height:400px;
    max-width:400px;
    position:absolute;
    left:50%;
    top:50%;
    transform:translate(-50%,-50%);
    overflow:hidden;
    cursor:pointer;
    filter: brightness(0.49) contrast(1.2);
    transition: filter 0.5s ease;
    animation: pulse 2s infinite ease-in-out;
}

svg{
    height:100%;
    width:100%;
    position:absolute;
    left:50%;
    top:50%;
    transform:translate(-50%,-50%);
    z-index: 2;
}

path{
	  fill: 0.45;
    stroke: #023838;
    stroke-width: 1.5;
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    transition: stroke-dashoffset 2s ease-in-out;
}

.brainPath {
    stroke: #FF5733;  
    stroke-width: 2;  
}

.brainCircle {
    stroke: #33A1FF;  
    fill: #33A1FF;
}

.brainRect {
    stroke: #900;    
    fill: #FF0000;   
}

.brainEllipse {
    stroke: #8A2BE2; 
    fill: #8A2BE2;
}

.animatePaths{
  animation: goPath 3000ms alternate infinite;
}

.animateCircles{
  animation: goCircle 3000ms alternate infinite;
}

.animateRects{
  animation: goRect 3000ms alternate infinite;
}

@keyframes goPath {
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes goRect {
  to {
    opacity:0;
  }
}
@keyframes goCircle {
  0% {
		opacity:0;
  }
  50% {
		opacity:1;
  }
  100% {
		opacity:0;
  }
}

.stage {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper {
  position: absolute;
  color: #023838;
  font-size: 2.5rem;
  text-transform: uppercase;
  letter-spacing: 0.25rem;
  padding-top: 0.65rem;
  padding-left: 0.5rem;
  padding-right: 0.36rem;
  padding-bottom: 0.10rem;
  bottom: 0;
  left: 50%; 
  transform: translate(-50%, -50%);
}

.slash {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-24deg) scaleY(0);
  transform-origin: center center;
  width: 0.25rem;
  height: 110%;
  background: #afbebe;
  z-index: 4;
  -webkit-animation: slash 6s ease-in infinite;
          animation: slash 6s ease-in infinite;
}

.slash:before {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0.15rem;
  height: 80%;
  background: #232323;
  z-index: -1;
}

.slash:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #023838;
}

.sides {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
}

.sides .side {
  position: absolute;
  background: #023838;
}

.sides .side:nth-child(1) {
  top: 0;
  left: 0;
  width: 100%;
  height: 0.15rem;
  transform: translateX(-101%);
  -webkit-animation: side-top ease 6s infinite;
          animation: side-top ease 6s infinite;
}

.sides .side:nth-child(2) {
  top: 0;
  right: 0;
  width: 0.15rem;
  height: 100%;
  transform: translateY(-101%);
  -webkit-animation: side-right ease 6s infinite;
          animation: side-right ease 6s infinite;
}

.sides .side:nth-child(3) {
  left: 0;
  bottom: 0;
  width: 100%;
  height: 0.15rem;
  transform: translateX(101%);
  -webkit-animation: side-bottom ease 6s infinite;
          animation: side-bottom ease 6s infinite;
}

.sides .side:nth-child(4) {
  top: 0;
  left: 0;
  width: 0.15rem;
  height: 100%;
  transform: translateY(101%);
  -webkit-animation: side-left ease 6s infinite;
          animation: side-left ease 6s infinite;
}

.text {
  position: relative;
}

.text--backing {
  opacity: 0;
}

.text--left {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  overflow: hidden;
}

.text--left .inner {
  transform: translateX(100%);
  -webkit-animation: text-left 6s ease-in-out infinite;
          animation: text-left 6s ease-in-out infinite;
}

.text--right {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  overflow: hidden;
}

.text--right .inner {
  transform: translateX(-200%);
  -webkit-animation: text-right 6s ease-in-out infinite;
          animation: text-right 6s ease-in-out infinite;
}

@-webkit-keyframes slash {
  0% {
    transform: translate(-50%, -50%) rotate(-24deg) scaleY(0);
  }
  6% {
    transform: translate(-50%, -50%) rotate(-24deg) scaleY(1);
  }
  13% {
    transform: translate(-50%, -50%) rotate(-24deg) scaleY(1);
  }
  16.6% {
    transform: translate(-50%, -50%) rotate(-24deg) scaleY(0);
  }
  100% {
    transform: translate(-50%, -50%) rotate(-24deg) scaleY(0);
  }
}
@keyframes slash {
  0% {
    transform: translate(-50%, -50%) rotate(-24deg) scaleY(0);
  }
  6% {
    transform: translate(-50%, -50%) rotate(-24deg) scaleY(1);
  }
  13% {
    transform: translate(-50%, -50%) rotate(-24deg) scaleY(1);
  }
  16.6% {
    transform: translate(-50%, -50%) rotate(-24deg) scaleY(0);
  }
  100% {
    transform: translate(-50%, -50%) rotate(-24deg) scaleY(0);
  }
}
@-webkit-keyframes text-left {
  0% {
    transform: translateX(100%);
  }
  10% {
    transform: translateX(0);
  }
  58% {
    transform: translateX(0);
  }
  70% {
    transform: translateX(-200%);
  }
  100% {
    transform: translateX(-200%);
  }
}
@keyframes text-left {
  0% {
    transform: translateX(100%);
  }
  10% {
    transform: translateX(0);
  }
  58% {
    transform: translateX(0);
  }
  70% {
    transform: translateX(-200%);
  }
  100% {
    transform: translateX(-200%);
  }
}
@-webkit-keyframes text-right {
  0% {
    transform: translateX(-200%);
  }
  10% {
    transform: translateX(-100%);
  }
  58% {
    transform: translateX(-100%);
  }
  70% {
    transform: translateX(-300%);
  }
  100% {
    transform: translateX(-300%);
  }
}
@keyframes text-right {
  0% {
    transform: translateX(-200%);
  }
  10% {
    transform: translateX(-100%);
  }
  58% {
    transform: translateX(-100%);
  }
  70% {
    transform: translateX(-300%);
  }
  100% {
    transform: translateX(-300%);
  }
}
@-webkit-keyframes side-top {
  0%, 14% {
    transform: translateX(-101%);
  }
  24%, 55% {
    transform: translateX(0);
  }
  65% {
    transform: translateX(101%);
  }
  100% {
    transform: translateX(101%);
  }
}
@keyframes side-top {
  0%, 14% {
    transform: translateX(-101%);
  }
  24%, 55% {
    transform: translateX(0);
  }
  65% {
    transform: translateX(101%);
  }
  100% {
    transform: translateX(101%);
  }
}
@-webkit-keyframes side-right {
  0%, 14%, 23% {
    transform: translateY(-101%);
  }
  30%, 62% {
    transform: translateY(0);
  }
  72% {
    transform: translateY(101%);
  }
  100% {
    transform: translateY(101%);
  }
}
@keyframes side-right {
  0%, 14%, 23% {
    transform: translateY(-101%);
  }
  30%, 62% {
    transform: translateY(0);
  }
  72% {
    transform: translateY(101%);
  }
  100% {
    transform: translateY(101%);
  }
}
@-webkit-keyframes side-bottom {
  0%, 14%, 24%, 28% {
    transform: translateX(101%);
  }
  37%, 70% {
    transform: translateX(0);
  }
  79% {
    transform: translateX(-101%);
  }
  100% {
    transform: translateX(-101%);
  }
}
@keyframes side-bottom {
  0%, 14%, 24%, 28% {
    transform: translateX(101%);
  }
  37%, 70% {
    transform: translateX(0);
  }
  79% {
    transform: translateX(-101%);
  }
  100% {
    transform: translateX(-101%);
  }
}
@-webkit-keyframes side-left {
  0%, 14%, 24%, 34%, 35% {
    transform: translateY(101%);
  }
  44%, 79% {
    transform: translateY(0);
  }
  86% {
    transform: translateY(-101%);
  }
  100% {
    transform: translateY(-101%);
  }
}
@keyframes side-left {
  0%, 14%, 24%, 34%, 35% {
    transform: translateY(101%);
  }
  44%, 79% {
    transform: translateY(0);
  }
  86% {
    transform: translateY(-101%);
  }
  100% {
    transform: translateY(-101%);
  }
}

.logo {
  width: 120px;
  position: relative;
  transform: rotate(-20deg) translate(50px, 100px);
}

.logo:before {
  content: "";
  display: block;
  background: rgba(255, 255, 255, 0.4);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border: 1px dashed #e5d2d2;
  border-radius: 5px;
}

.box {
  background: #f8e9e9;
  border-radius: 5px;
  padding: 5px 5px;
  box-shadow: 1px 13px 79px 4px rgba(0, 0, 0, 0.25);
  position: relative;
  transition: transform 0.4s;
}

.box img {
  width: 100%;
}

.box:hover {
  transform: translate(14%, 35%);
}